```{=html}
<div class="list member-listing">
<% for (const item of items) { %>
  <div class="grid member-post mt-5" style="row-gap: 0;"<%= metadataAttrs(item) %>>
    <div class="g-col-12 g-col-md-4 mb-3 mb-md-5">
      <div class="d-flex mx-auto justify-content-center">
        <img src="<%- item.image %>" class="rounded w-75" alt="<%- item.image_alt %>">
      </div>
      <div class="text-center">
        <h3 class="no-anchor listing-name"><%- item.name %></h3>
      </div>
      <% if (item.icons) { %>
      <div class="grid d-flex mx-auto justify-content-center mt-3">
        <% for (const icon of item.icons) { %>
          <a href="<%- icon.href %>">
            <i class="<%- icon.icon %> fa-lg" role="img" aria-label="icon.aria-label"></i>
          </a>
        <% } %>
      </div>
      <% } %>
    </div>
    <div class="g-col-12 g-col-md-8 mb-4">
      <div class=""><p><%= item.description %></p></div>
    </div>
  </div>
<% } %>
</div>
```
